<!DOCTYPE html>
<html>
<head>
  <title>Imagens Favoritas</title>
  <link rel="stylesheet" type="text/css" href="node_modules/basscss/css/basscss-cp.min.css">
  <link rel="stylesheet" type="text/css" href="node_modules/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/app.css">
  <link rel="manifest" href="/manifest.json">

  <meta name="theme-color" content="#424b54"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container">
    <div id="vue-app">
      <div id="nav">
        <ul class="clearfix mb2">
          <li class="col mr2">
            <a href="/#/">Página inicial</a>
          </li>
          <li class="col mr2">
            <a href="/#/favoritos">Favoritos</a>
          </li>
        </ul>
      </div>

      <search inline-template>
        <div id="search" class="clearfix mb2">
          <div class="col col-10">
            <input @keydown="find($event)" class="p1" type="text" v-model="searchField" placeholder="Buscar imagens...">
          </div>
          <button class="search-button col col-2" @click="find($event)">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </div>
      </search>

      <grid :items="items" inline-template>
        <div class="clearfix">
          <div v-if="!items.length">Nenhum resultado encontrado.</div>
          <div v-else>
            <div v-for="item in items" :id="item.id" class="image col col-12 mb2 p2">
              <div class="img-container">
                <img class="block mb2" :src="item.webformatURL">

                <div class="like left" @click="like(item)">
                  <i class="fa" v-bind:class="{'fa-heart red': item.liked, 'fa-heart-o': !item.liked}" aria-hidden="true"></i>
                </div>

                <div class="author right">
                  <i class="fa fa-user" aria-hidden="true"></i> {{item.user}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </grid>
    </div>
  </div>

  <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="node_modules/vue/dist/vue.min.js"></script>
  <script type="text/javascript" src="node_modules/vue-router/dist/vue-router.min.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
</body>
</html>
